* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E3E4E6;
    display: grid;
    grid-template-rows: 50vh 8fr;
    grid-template-columns: 2fr 8fr;
    margin: 0;
}

/* this is the banner, with a flex box, to put title on image */

.banner {
    grid-row: 1;
    grid-column: 1 / span 2;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.banner-img {
    width: 100%;
    max-height: 1fr;
    z-index: -1;
    position: relative;
    transform: translateZ(0px);
}

h2 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    left: -100%;
    z-index: 1;
    font-size: 8vw;
    margin: 0;
    position: relative;
}

/* this is the menu and categories */
.menu {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: repeat(6, auto);
}

#explaination {
    grid-row: 6;
    padding: 1em 0;
    font-size: 1.2em;
    font-style: italic;

}

li {
    font-size: 0.8em;
}

.categoy {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.title-dd {
    font-family: Helvetica, cursive;
    font-weight: bold;
    font-size: 1.7em;
    color: black;
    border-bottom: 1px solid black;
    margin: 0.5em 0;
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-bottom: 4px;
}

/* this is the dish cartouche */

.dishprez {
    border-radius: 10px;
    max-width: 20vw;
    width: 100%;
}

.dishprez-hover {
    border-radius: 10px;
    width: 100%;
}
.dish {
    background-color: rgba(229, 228, 226, 1);
    display: grid;
    grid-template-rows: repeat(2, auto);

    box-shadow: 2px 2px 5px 0px rgba(191,184,191,1);
    border: 1px solid #798699;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.dish-hover {
    background-color: rgba(229, 228, 226, 1);
    display: grid;
    grid-template-rows: repeat(2, auto);

    border: 2px solid #798699;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    height: 100%;
}

.text-dish {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 60px 90px 40px;

}

.text-dish-hover {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 60px auto 40px;

}

.subCat {
    grid-row: 2;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: none;
}

h1 {
    grid-row: 1;
    grid-column: span 3;
}

.shortDesc {
    grid-row: 2;
    grid-column: span 3;
}

.longDesc {
    grid-row: 2;
    grid-column: span 3;
    font-size: 1em;
}

.price {
    grid-row: 3;
}

.special {
    grid-row: 3;
    grid-column: 3;
    align-self: end;
}


/* this is specific css for every category */

#cat1 {
    grid-row-start: 1;
}


#cat2 {
    grid-row-start: 2;
}

#cat3 {
    grid-row-start: 3;
}

#cat4 {
    grid-row-start: 4;
}

#cat5 {
    grid-row-start: 5;
}

/* end of the category */



/* this is the start of the drop down */

.appear {
    display: grid;
}

.newRot {
    transform: rotate(45deg);
}

/* this starts the specific dishes */
#vegan {
    height: 2em;
    width: 2em;
}

#peanut {
    height: 2em;
    width: 2em;
}

#alcohol {
    height: 2em;
    width: 2em;
}

#soldout {
    filter: grayscale(100%);
}

.soldout {
    grid-column: 2;
    grid-row: 3;
    font-weight: bold;
    padding: 0 1em ;
}

#initial-price {
      text-decoration: line-through;
}

/* Styling the modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 8vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
    border: 1px solid #888;
    width: 40%;
    height: 80vh;
}

/* Aboce is the modal */
